body{
    background-color:#122F31;
}
h1{
    text-align: center;
    font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 50px;
  font-size:50px;
  color:#662627;
}
.container{
    display: flex;
    justify-content: space-around;
}
.col {
    margin-bottom: 50px;
  }
img{
    width: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}